<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}KMS Dashboard{% endblock %}</title>

        <script src="/static/js/theme-boot.js"></script>
        <link rel="stylesheet" href="/static/css/output.css" />
        <script src="/static/js/htmx.min.js" defer></script>
        <script src="/static/js/json-enc.js" defer></script>
        <script defer src="/static/js/lucide.min.js"></script>
        <script defer src="/static/js/ui-init.js"></script>
        {% block head_scripts %}{% endblock %}
    </head>
    <body class="bg-bg-page flex items-center justify-center min-h-screen px-4">
        {% block content %}{% endblock %}

        {% block body_scripts %}{% endblock %}
    </body>
</html>
